# KudKernel init script wrapper
# Copyright (C) 2019 Soviet Development

on property:init.svc.qcom-post-boot=stopped
    exec u:r:magisk:s0 root root -- /init.revolt.sh
    exec u:r:su:s0 root root -- /init.revolt.sh
